html-template/*
bin-debug/*
bin-release/*
bin/*
doc/*
docs/*
obj/*
dist/*
report/*

.settings/*
.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project

Icon
Thumbs.db
.DS_Store
