html-template/*
bin-debug/*
bin-release/*
bin/*
doc/*
docs/*
obj/*
dist/*
report/*
out/*
target/*

.idea/dictionaries/*
.idea/uiDesigner.xml
.idea/workspace.xml

.settings/*
.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project

Icon
Thumbs.db
.DS_Store
